body {
  font-family: Akronim, monospace;
  font-size: xx-large;
  color: fuchsia;
  background-image: url('https://www.surfertoday.com/images/stories/wipeoutsurfing2.jpg');
  }

  p {
  font-family: Flavors, monospace;
  font-size: xx-large;
  }